*{
    margin: 0;
    padding: 0;
}

.about{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(image/aboutpage.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.navbar{
    text-transform: inherit;
    display: inline-block;
    width: 100%;
    text-align: right;
    list-style-type: none;
    background-color: black;
}

.navbar li{
    display: inline-block;
    padding-right: 15px;
    margin: 15px;
}

.navbar a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5em;
    color: white;
}

.navbar a:hover{
    color: aqua;
    border-bottom: 3px solid white;
}

.PageName h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 50px;
    padding-left: 15%;
    padding-top: 30px;
}

.PageName p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 20px;
    padding-left: 5%;
    padding-top: 40px;
}